Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
.venv/
python/.venv/
python/.condaenv/
python/__pycache__/
python/**/*.pyc
python/checkpoints/
python/logs/
Plugins/*/Binaries/
Plugins/*/Intermediate/
Plugins/*/Saved/
Plugins/Schola/Docs/
Plugins/Schola/Test/
Plugins/Schola/CITATION.cff
Plugins/Schola/pytest.ini
Plugins/Schola/.clang-format
Plugins/Schola/.gitignore
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.idea/
.vscode/
.vsconfig
